body {
padding: 0px;
margin: 0px;
font-family: 'DotGothic16';
background-color: #4caeeb;
color: white;
}

.dark-mode {
  background-color: #0a1969;
}

.header-container {
  display: flex;
}

.spacer {
  width: 80px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 50px;
  font-size: 54px;
  font-weight: 400;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

/* switch button styling */
.switch {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 24px;
  margin-top: 30px;
  margin-right: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0a1969;
  border-radius: 24px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: #4caeeb;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4caeeb;
}

input:checked + .slider:before {
  transform: translateX(33px);
}

/* Dark Mode */
body.dark-mode {
  --bg-color: #222;
  --text-color: #fff;
}

.dark-mode .slider {
  background-color: #4caeeb;
}

.dark-mode .slider:before {
  background-color: #0a1969;
}

.container {
  display: flex;
  justify-content: space-around;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;
  margin-left: 5%;
}

.gridCheckbox {
  margin-right: 12px;
}

.gridSize {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.colorPicker {
  background-color: transparent;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.colorPicker::-webkit-color-swatch {
  border-radius: 50%;
}

.grid {
  margin: auto;
  width: 30%;
  aspect-ratio: 1/1;
  background-color: white;
  border: 7px solid rgb(168, 168, 168);
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
}

.grid:hover,
button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.18);
}

.cell {
  box-sizing: border-box;
  border: none;
}

.tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;
  margin-right: 5%;
}

button {
  background-color: rgb(37, 155, 31);
  padding: 10px 30px;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  border: none;
}

.selectedTool {
  border: 2px solid rgb(243, 227, 227);
}

.clear {
 display: flex;
 justify-content: center;
 padding-bottom: 10px; 
}